<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader">Setings</h1>

            <form class="mb-3" [formGroup]="userSettingForm">
                <div class="form-row">
                    <div class="col-12 mt-4">
                        <div class="row">
                            <div class="col-md-3">
                                <h5>General settings</h5>
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-secondary mr-3"
                                    (click)="onSubmit()">
                                    Save setting
                                </button> 
                                
                                <button type="button" class="btn btn-secondary"
                                (click)="reset()">
                                    Reset setting
                                </button>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <label for="xxx" class="col-4 col-md-3 col-form-label">Begin counting</label>
                    <div class="col">
                        <select class="form-control custom-select w-auto" formControlName="beginYear">
                            <option *ngFor="let year of previousYearsList"
                                    [selected]="year == userSettings?.beginYear">{{year}}</option>
                        </select>
                        <select class="form-control custom-select w-auto" formControlName="beginMonth">
                            <option *ngFor="let month of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]"
                                     [selected]="month == userSettingForm.value.beginMonth"
                                     value={{month}}>{{month | month}}</option>
                        </select>
                    </div>
                    <div class="col-12 mt-4">
                        <h5>Services</h5>
                        <hr>
                    </div>
                </div>

                <div formArrayName="services" class="well well-lg">
                    <div class="row" *ngFor="let serv of userSettingForm.value.services; let i=index; trackBy:trackByFn" [formGroupName]="i" >                                                        
                        <label class="col-md-3 col-form-label">Service name {{userSettingForm.controls.services.controls[i].error}}</label>
                        <div class="col-md-9 mb-1">
                            <input required type="text" 
                                class="form-control"
                                formControlName="name">
                                <div class="col-md-9 mb-4 error">Only letters and digits. Minimum 2 and maximum 20 symbols.</div>
                        </div>
                        
                        <label *ngIf="serv.pricePerUnit !== null" class="col-md-3 col-form-label">Price per unit</label>
                        <div *ngIf="serv.pricePerUnit !== null" class="col-md-9 mb-1">
                            <input required
                                type="text"
                                class="form-control"
                                formControlName="pricePerUnit">
                            <div class="col-md-9 mb-4 error">Decimal number </div>
                        </div>

                        <label *ngIf="serv.firstValue !== null" class="col-md-3 col-form-label">Start meter value</label>
                        <div *ngIf="serv.firstValue !== null" class="col-md-9 mb-4">
                            <input type="number"
                                class="form-control"
                                formControlName="firstValue">
                                <div class="col-md-9 mb-4 error">Only digits</div>
                        </div>
                        <div class="col-12"><hr class="pt-1 pb-1"></div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col">
                        <button type="button" class="btn btn-secondary mr-3"
                            (click)="onSubmit()">
                            Save setting
                        </button> 
                        
                        <button type="button" class="btn btn-secondary"
                        (click)="reset()">
                            Reset setting
                        </button>
                        <br>
                    </div>
                </div>
            </form>
            <div>userSettingForm.value {{userSettingForm.value | json}}</div>
        </div>
    </div>
</div>