<div class="container bg-info">
    <nav class="navbar navbar-expand-md navbar-dark col-sm">
        <a class="navbar-brand" href="#"><strong>Housing payments</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation -->
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item pl-2">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/payment">My payments</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/history">History</a>
                </li>
                <li class="nav-item pl-2">
                    <a class="nav-link" [routerLinkActive]="['active']" routerLink="/settings">Settings</a>
                </li>
            </ul>
        </div>
    </nav>
</div>  
<router-outlet></router-outlet>


