<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader">My payments</h1>
        </div>
    </div>
</div>

<div class="container bg-white">
    <!-- Month select -->
    <div class="row py-3">
        <div class="col-md">
            <button (click)="goToPrevMonth()" type="button" class="btn btn-active mt-1 prev_next_month"> &larr; Previous</button>
        </div>
        <div class="col-md text-md-center">
            <select
                (change)="onYearMonthChange()"
                [(ngModel)]="currentYearMonthString"
                class="form-control form-control-lg form-control-plaintext d-inline-block w-auto">
                <option *ngFor="let yearMonth of yearMonthList  let i=index"
                [selected]="yearMonth.year == this.currentYear && yearMonth.month == this.currentMonth">{{yearMonth.year}} {{yearMonth.month | month}} </option>
            </select>
         </div>

        <div class="col-md text-md-right">
            <button (click)="goToNextMonth()" type="button" class="btn btn-active mt-1 prev_next_month">Next &rarr;</button>
        </div>
    </div>

    <div  class="list-group-item" *ngFor="let payment of payments; let i=index; " class="card mb-4">
        <div [class.unpaid]="!payment.paid" [class.paid]="payment.paid" class="card-header text-white">
            <strong class="text-uppercase">{{payment.service}}</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li *ngIf="payment.counterBeginMonth !== undefined" class="list-group-item">
                        <span class="float-left">Previous month meter value</span>
                        <span class="float-right">{{payment.counterBeginMonth}}</span>
                    </li>
                    <li *ngIf="payment.counterEndMonth !== undefined" class="list-group-item">
                        <span class="align-middle">This month meter value</span>
                        <span class="float-right">
                            <input *ngIf="payment.counterEndMonth === null" type="text" class="counter_value form-control text-right">
                            <span class="float-right">{{payment.counterEndMonth}}</span>
                        </span>
                    </li>
                    <li *ngIf="payment.counterEndMonth !== undefined && !payment.paid"  class="list-group-item text-md-right text-center">
                        <span class=""><a href="#" class="btn btn-secondary">Calculate</a></span>
                    </li>
                </ul>
            </div>

            <div *ngIf="payment.counterEndMonth === undefined" class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">Month payment</span>
                        <span class="float-right">
                            <input *ngIf="!payment.paid" type="text" class="form-control text-right">
                        </span>
                    </li>
                </ul>
            </div>          
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span *ngIf="payment.sum" class="text-muted text-large mr-3 b-5"><strong>{{payment.sum}}</strong> {{curencyString}}</span>
                <div *ngIf="!payment.sum" class="form-check form-check-inline mt-1">
                    <input type="checkbox" class="form-check-input large-checkbox">
                    <button type="button" class="btn btn-secondary ml-1">&nbsp;Pay&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

    <br>
    <p>{{payments | json}}</p>
    <br>

</div>