<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader">My payments</h1>
        </div>
    </div>
</div>

<div class="container bg-white">
    <!-- Month select -->
    <div class="row py-3">
        <div class="col-md">
            <button (click)="goToPrevMonth()"
                    type="button"
                    [disabled] = "isLastPage"
                    class="btn btn-active mt-1 prev_next_month"> &larr; Previous
            </button>
        </div>
        <div class="col-md text-md-center">

                <!-- <form>
                        <input type="text" name="search" placeholder="Поиск" list="search"><br><br>
                        <datalist id="search">
                          <option value="Васька" />
                          <option value="Мурзик" />
                          <option value="Рыжик" />
                          <option value="Барсик" />
                        </datalist> 
                </form> -->

            <select
                (change)="onYearMonthChange()"
                [(ngModel)]="currentYearMonthString"
                class="form-control form-control-lg form-control-plaintext d-inline-block w-auto">
                <option *ngFor="let yearMonth of yearMonthList  let i=index"
                        [selected]="yearMonth.year == this.currentYear && yearMonth.month == this.currentMonth">{{yearMonth.year}} {{yearMonth.month | month}}
                </option>
            </select>
         </div>

        <div class="col-md text-md-right">
            <button (click)="goToNextMonth()"
                    [disabled] = "isFirstPage"
                    type="button"
                    class="btn btn-active mt-1 prev_next_month">Next &rarr;
            </button>
        </div>
    </div>

    <div  class="list-group-item" *ngFor="let payment of payments; let i=index; " class="card mb-4">
        <div [class.unpaid]="!payment.paid" [class.paid]="payment.paid" class="card-header text-white">
            <strong class="text-uppercase">{{payment.service}}</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li *ngIf="payment.counterBeginMonth !== undefined" class="list-group-item">
                        <span class="float-left">Previous month meter value</span>
                        <span *ngIf="payment.counterBeginMonth !== null" class="float-right">{{payment.counterBeginMonth}}</span>
                        <span *ngIf="payment.counterBeginMonth === null" class="float-right">
                            <button (click)="goToPrevMonth()"
                                type="button"
                                [disabled] = "isLastPage"
                                class="btn btn-active mt-1"> &larr; Add data to previous month
                            </button>

                        </span>
                    </li>
                    <li *ngIf="payment.counterEndMonth !== undefined" class="list-group-item">
                        <span class="align-middle">This month meter value</span>
                        <div class="float-right">
                            <input name="counterEndMonth-{{payment.id}}"
                                   [(ngModel)]="payment.counterEndMonth"
                                   [ngModelOptions]="{updateOn: 'blur'}"
                                   *ngIf="payment.counterEndMonth === null"
                                   class="counter_value form-control text-right"
                                   required>
                            <span class="float-right">{{payment.counterEndMonth}}</span>
                        </div>
                    </li>
                    <li class="list-group-item text-md-right text-center">
                        <a *ngIf="payment.counterBeginMonth && !payment.paid" (click)="calculateSum(payment.id)" class="btn btn-secondary">Calculate</a>
                        <!-- <a *ngIf="payment.counterBeginMonth && payment.sum == 0" (click)="resetCounter(payment.id)" class="btn btn-secondary">Reset</a> -->
                    </li>

                    <!-- <li *ngIf="payment.counterBeginMonth && payment.sum != 0"  class="list-group-item text-md-right text-center">
                        <span class=""><a  (click)="resetCounter(payment.id)" class="btn btn-secondary">Reset</a></span>
                    </li> -->

                </ul>
            </div>

            <div *ngIf="payment.counterEndMonth === undefined" class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">Month payment</span>
                        <span class="float-right">
                            <input  [(ngModel)]="payment.sum"
                                    [ngModelOptions]="{updateOn: 'blur'}"
                                    *ngIf="!payment.paid"
                                    type="text"
                                    class="form-control text-right">
                        </span>
                    </li>
                </ul>
            </div>          
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span *ngIf="payment.sum"
                       class="text-muted text-large mr-3 b-5">
                       <strong>{{payment.sum}}</strong> {{curencyString}}
                </span>
                <div *ngIf="!payment.sum || !payment.paid" class="form-check form-check-inline mt-1">
                    <input type="checkbox" class="form-check-input large-checkbox">
                    <button (click)="updatePayment(payment.id)" type="button" class="btn btn-secondary ml-1">&nbsp;Pay&nbsp;</button>
                </div>
            </div>
            {{ payment | json}}
        </div>
    </div>
    <br>
    <br>
    
</div>