<div class="container bg-white">
    <div class="row">
        <div class="col pt-4 pb-1">
            <h1 class="pageheader">My payments</h1>
        </div>
    </div>
</div>

<div class="container bg-white">
    <!-- Month select -->
    <div class="row py-3">
        <div class="col-md">
            <button type="button" class="btn btn-active mt-1 prev_next_month"> &larr; April 2018</button>
        </div>
        <div class="col-md text-md-center">
            <select class="form-control form-control-lg form-control-plaintext d-inline-block w-auto">
                <option *ngFor="let month of monthList"
                [selected]="month == currentMonth">{{month | month}}</option>
            </select>
            <select
                (change)="onChange()"
                [(ngModel)]="currentYear"
                class="form-control form-control-lg form-control-plaintext d-inline-block w-auto">
                <option *ngFor="let year of yearsList"
                    [selected]="year === currentYear">{{year}}</option>
            </select>
        </div>

        <div class="col-md text-md-right">
            <button type="button" class="btn btn-active mt-1 prev_next_month">September 2018 &rarr;</button>
        </div>
    </div>


    <!-- Electrycity category -->
    <div class="card mb-4">
        <div class="card-header unpaid text-white">
            <strong class="text-uppercase">Electrycity</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="float-left">Previous month meter value</span>
                        <span class="float-right"><strong>3525</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="align-middle">This month meter value</span>
                        <span class="float-right">
                            <input type="text" class="counter_value form-control text-right" id="xxxxx" placeholder="kWh">
                        </span>
                    </li>
                    <li class="list-group-item text-md-right text-center">
                        <span class=""><a href="#" class="btn btn-secondary">Calculate</a></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span class="text-muted text-large mr-3 b-5">175 uah.</span>
                <div class="form-check form-check-inline mt-1">
                    <input type="checkbox" class="form-check-input large-checkbox" id="exampleCheck1">
                    <button type="button" class="btn btn-secondary ml-1">&nbsp;Pay&nbsp;</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Rent category -->
    <div class="card mb-4">
            <div class="card-header unpaid text-white">
                <strong class="text-uppercase">Rent</strong>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-10">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="align-middle">Month payment</span>
                            <span class="float-right">
                                <input type="text" class="form-control text-right" id="xxxx" placeholder="uah">
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                    <hr class="mt-0 d-md-none"> 
                    <div class="form-check form-check-inline bg">
                            <input type="checkbox" class="form-check-input large-checkbox" id="exampleCheck1">
                        <button type="button" class="btn btn-secondary ml-1">&nbsp;Pay&nbsp;</button>
                    </div>
                </div>
            </div>
        </div>
        
    <!-- Natural gas category -->
    <div class="card mb-4">
            <div class="card-header text-muted">
                <strong class="text-uppercase">Natural gas</strong>
            </div>
            <div class="row">
                <div class="col-md-9 col-lg-10">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="text-muted float-left">Meter in the beginning of the month</span>
                            <span class="text-muted float-right"><strong>29562</strong></span>
                        </li>
                        <li class="list-group-item">
                            <span class="text-muted align-middle">Meter in the end of the month</span>
                            <span class="text-muted float-right"><strong>31025</strong></span>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                    <hr class="mt-0 d-md-none"> 
                    <span class="text-muted text-large">175 uah.</span>
                </div>
            </div>
        </div>
        
    <!-- Water category -->
    <div class="card mb-4">
        <div class="card-header text-muted">
            <strong class="text-uppercase">Water</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="text-muted float-left">Meter in the beginning of the month</span>
                        <span class="text-muted float-right"><strong>328</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span class="text-muted align-middle">Meter in the end of the month</span>
                        <span class="text-muted float-right"><strong>359</strong></span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span class="text-muted text-large">86 uah.</span>
            </div>
        </div>
    </div>
    

    <!-- Garbage category -->
    <div class="card mb-4">
        <div class="card-header">
            <strong class="text-uppercase">Garbage</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">The amount of payment for this month</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span class="text-muted text-large">23.25 uah.</span>
            </div>
        </div>
    </div>

    <!-- Garbage category -->
    <div class="card mb-4">
        <div class="card-header">
            <strong class="text-uppercase">Garbage</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">The amount of payment for this month</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span class="text-muted text-large">106 uah.</span>
            </div>
        </div>
    </div>

    <!-- Internet category -->
    <div class="card mb-4">
        <div class="card-header">
            <strong class="text-uppercase">Internet</strong>
        </div>
        <div class="row">
            <div class="col-md-9 col-lg-10">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="align-middle">The amount of payment for this month</span>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-2 h-100 my-auto pb-3 pb-md-0 text-center">
                <hr class="mt-0 d-md-none"> 
                <span class="text-muted text-large">186 uah.</span>
            </div>
        </div>
    </div>
    <br>


</div>