.pageheader {
    font-weight: normal;
    font-size: 1.5em;
}

.container{
    box-shadow: 0 3px 15px lightgray;
}

.container.footer {
    background-color: #eee;
}

.text-large {
    font-size: 125%;
}